body {
    margin: 50px;
}

img {
    width: 200px;
    border: 3px solid black;
    height: 200px;
    border-radius: 100%;
}

#todays-challenge {
    color: rgb(59, 46, 45);
    font-size: 34px;
    font-weight: bold;
}

h1 {
    color: rgb(29, 18, 17);
    /* margin-top: -20px; */
    font-size: 20px;
}

p {
    color: rgb(59, 46, 45);
}

#main-container {
    margin: -100px auto auto auto;
    border-radius: 10px;
    width: 500px;
    border: 3px solid black;
    padding: 100px 20px 20px 20px;
    background-color: rgb(218, 97, 72);
}